body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}
/* -------------------HEADER---------------------- */
header {
  width: 95%;
  margin: 0 40px 20px 40px;
  max-width: 1360px;
}
.logo {
  display: flex;
  justify-content: space-between;
}
.logo img {
  height: 50px;
  object-fit: cover;
  margin-top: 20px;
}
/* METTRE LA BORDER ENCORE PLUS HAUT mmm */
.logo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 40px;
}
.logo li {
  display: inline;
}
.logo a {
  text-decoration: none;
  margin: 30px;
  line-height: 80px;
}
.link_header a {
  color: black;
}
.link_header li:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
.link_header a:hover {
  color: #0065fc;
}
.header_title h1 {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}
.header_title h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
}
/* -----------------FORMULAIRE------------------*/
form {
  margin: 20px 0px;
}
form i {
  padding: 12px;
  position: relative;
  top: 1px;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 15px;
}
#search_bar {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #f2f2f2;
  font-weight: bold;
  position: relative;
  right: 4px;
}
#search_button {
  padding: 11px;
  font-size: 15px;
  background-color: #0065fc;
  color: white;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  position: relative;
  right: 9px;
}
#search_button:active {
  background-color: #023f9b;
}
#search_button i {
  display: none;
}
/* -------------------------FILTRE---------------------- */
.filter {
  margin: 30px 0;
  font-weight: bold;
}
.filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.filter li {
  display: inline;
}
.filter a {
  display: inline-flex;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid rgba(128, 128, 128, 0.295);
  border-left: none;
  color: black;
  border-radius: 30px;
  height: 41px;
  align-items: center;
  padding: 0 15px 0 0;
  margin: 10px 0 0 20px;
}
.filter a:hover {
  background-color: #0065fc;
  color: white;
}
.filter i {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 30px;
  margin-right: 10px;
  padding: 15px;
  position: relative;
  right: 1px;
}
.info {
  margin-bottom: 0;
}
.info i {
  margin: 20px 10px 0 0;
  color: #0065fc;
  border: 1px solid rgba(128, 128, 128, 0.295);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 15px;
}
/* ----------------HEBERGEMENT----------------------- */
main {
  display: flex;
  width: 95%;
  margin: 0 40px 20px 40px;
  max-width: 1360px;
}
.accommodation {
  background-color: #f2f2f2;
  padding: 3%;
  margin-right: 2%;
  border-radius: 20px;
  order: 1;
  flex: 2;
}
.accommodation h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
}
.hotel {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  padding: 1%;
  margin: 2%;
  box-shadow: 2px 5px 10px lightgray;
  width: 25%;
}
.hotel a {
  text-decoration: none;
  color: black;
}
.hotel:hover {
  background-color: #deebff;
}
.picture img {
  object-fit: cover;
  height: 100px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.picture {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container h3 {
  margin: 0;
  font-size: 15px;
}
.container p {
  margin: 0;
  font-size: 13px;
}
.icon {
  font-size: 12px;
  color: #0065fc;
  margin: 5px 0 3px 0;
}
#more {
  margin: 20px 10px;
}
#more a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* -------------------LES PLUS POPULAIRES-------------- */
aside {
  background-color: #f2f2f2;
  padding: 3%;
  border-radius: 20px;
  order: 2;
  flex: 1;
}
.aside_title {
  display: flex;
  justify-content: space-between;
}
.aside_title h2 {
  font-size: 20px;
  margin: 0;
  margin: 0 0 10px 10px;
}
aside img {
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 20px;
}
aside .popular_hotel {
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  box-shadow: 1px 1px 10px gray;
}
.popular_hotel {
  padding: 1%;
}
.popular_hotel a {
  text-decoration: none;
  display: flex;
  color: black;
}
.popular_hotel:hover {
  background-color: #deebff;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
}
.text h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
}
.text p {
  margin: 0;
  font-size: 13px;
}
.icon2 {
  color: #0065fc;
  font-size: 12px;
}

/* ----------------------------ACTIVITES------------------- */
#activity_marseille {
  margin: 0;
  width: 95%;
  margin: 40px 40px;
  max-width: 1360px;
}
#activity_marseille > h2 {
  font-size: 20px;
}
.photo {
  display: flex;
}
.photo a {
  text-decoration: none;
}
.photo h2 {
  font-size: 15px;
  color: black;
}
.activity1 h2,
.activity2 h2,
.activity3 h2,
.activity4 h2 {
  font-weight: bold;
  margin-left: 20px;
}
.activity1 {
  flex: 1;
  height: 400px;
  background-color: #f8f8ff;
  border-radius: 20px;
  margin-right: 3%;
  border: 1px solid rgba(0, 0, 0, 0.144);
}
#vieux_port {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activity2 {
  flex: 1;
  height: 400px;
  border-radius: 20px;
  margin-right: 3%;
}
.fort {
  height: 200px;
  border-radius: 20px;
  background-color: #f8f8ff;
  border: 1px solid rgba(0, 0, 0, 0.144);
}
#fort {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ile {
  height: 160px;
  border-radius: 20px;
  background-color: #f8f8ff;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.144);
}
#ile {
  height: 110px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activity3 {
  flex: 1;
  height: 400px;
  background-color: #f8f8ff;
  border-radius: 20px;
  margin-right: 3%;
  border: 1px solid rgba(0, 0, 0, 0.144);
}
#parc_national {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activity4 {
  flex: 1;
  height: 400px;
  justify-content: space-between;
}
.notre_dame {
  height: 180px;
  border-radius: 20px;
  background-color: #f8f8ff;
  border: 1px solid rgba(0, 0, 0, 0.144);
}
#notre_dame {
  height: 130px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.parc_longchamp {
  height: 180px;
  border-radius: 20px;
  background-color: #f8f8ff;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.144);
}
#parc_longchamp {
  height: 130px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activity1:hover,
.fort:hover,
.ile:hover,
.activity3:hover,
.notre_dame:hover,
.parc_longchamp:hover {
  background-color: #deebff;
}
/* -------------FOOTER------------------- */
footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-top: 40px;
  max-width: 1500px;
}
footer ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 40px 40px;
}
footer h2 {
  margin: 0 0 20px 0;
  font-size: 16px;
}
footer li {
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: black;
}
/* -----------------------------------------Tablette--------------------------------------------- */
@media screen and (max-width: 992px) and (min-width: 768px) {
  main {
    flex-direction: column;
    margin: 0;
  }
  .filter a {
    display: inline-flex;
    height: 41px;
    align-items: center;
    padding: 0 15px 0 0;
    margin: 10px 0 0 20px;
  }
  aside {
    order: 1;
    width: 100%;
  }
  .accommodation {
    order: 2;
    width: 100%;
    margin: 0;
  }

  .hotel {
    width: 100%;
  }
  .hotel img {
    width: 100%;
  }
  #activity_marseille {
    margin: 0;
    width: 100%;
  }
  .photo {
    flex-direction: column;
  }
  .activity1,
  .activity3 {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .activity2,
  .activity4 {
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #ancre2 {
    margin-left: 20px;
  }
  #vieux_port,
  #fort,
  #ile,
  #parc_national,
  #notre_dame,
  #parc_longchamp {
    height: 150px;
  }
  .activity1,
  .fort,
  .ile,
  .activity3,
  .notre_dame,
  .parc_longchamp {
    margin-top: 20px;
  }
  .fort,
  .ile,
  .notre_dame,
  .parc_longchamp {
    height: 200px;
  }
  footer {
    flex-direction: column;
    width: 100%;
  }
  footer ul {
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* ---------------------------------------------------Mobile------------------------------------------------- */
@media screen and (max-width: 767px) {
  header {
    margin: 0;
    width: 100%;
  }
  .logo {
    flex-direction: column;
    align-items: center;
  }
  .logo img {
    height: 40px;
    width: 60px;
    margin-top: 10px;
  }
  .link_header {
    width: 100%;
    margin-top: 10px;
  }
  .link_header li {
    height: 40px;
    width: 50%;
    text-align: center;
  }
  .link_header a {
    line-height: 40px;
    margin: 0;
  }
  .link_header li:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .header_title {
    margin-right: 10px;
    margin-left: 20px;
  }
  form {
    text-align: center;
  }
  form i {
    top: 2px;
  }
  #search_button {
    padding: 0;
  }
  #search_button i:active {
    background-color: #023f9b;
  }
  #search_button span {
    display: none;
  }
  #search_button i {
    display: initial;
    background-color: #0065fc;
    color: white;
    position: relative;
    border-radius: 10px;
    padding: 13px;
  }

  #filter_title {
    display: flex;
    width: 90%;
    margin-left: 20px;
  }
  .filter a {
    display: inline-flex;
    height: 41px;
    align-items: center;
    padding: 0 15px 0 0;
    margin: 10px 0 0 20px;
  }
  .info {
    display: flex;
  }
  .info i {
    margin: 0 0 20px 10px;
  }
  .info span {
    margin-left: 10px;
  }
  main {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  aside {
    order: 1;
    margin-top: 20px;
    padding-top: 30px;
    border-radius: 0;
  }
  .aside_title {
    padding-right: 10px;
  }
  aside img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .accommodation {
    order: 2;
    margin: 0;
    background-color: initial;
    margin-top: 20px;
    border-radius: 0;
  }
  #ancre1 {
    padding-left: 5px;
  }
  .hotel {
    width: 100%;
  }
  .hotel img {
    width: 100%;
  }
  .container {
    padding-left: 15px;
  }
  .icon {
    padding-left: 15px;
  }
  #activity_marseille {
    margin: 0;
    width: 100%;
  }
  .photo {
    flex-direction: column;
  }
  .activity1,
  .activity3 {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .activity2,
  .activity4 {
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #ancre2 {
    margin-left: 20px;
  }
  #vieux_port,
  #fort,
  #ile,
  #parc_national,
  #notre_dame,
  #parc_longchamp {
    height: 150px;
  }
  .activity1,
  .fort,
  .ile,
  .activity3,
  .notre_dame,
  .parc_longchamp {
    margin-top: 20px;
  }
  .fort,
  .ile,
  .notre_dame,
  .parc_longchamp {
    height: 200px;
  }
  footer {
    flex-direction: column;
    width: 100%;
  }
  footer ul {
    margin-top: 20px;
    margin-left: 20px;
  }
}
